<!DOCTYPE html>
<html lang="pt-br">
<meta charset='utf-8' />


<% include ../layout %>

<body>
    <!-- Sidenav -->
    <% include ../partials/sidebar %>
    <!-- Main content -->
    <div class="main-content">
        <!-- Top navbar -->
        <% include ../partials/navbar %>
        <!-- Header -->
        <% include ../partials/header %>

        <div style="width: 80%; margin: auto;" id='calendar-container' class="pt-4">
            <div id='calendarSchedules'></div>
        </div>

        <% include ./schedulesModal %>
    </div>
    </div>


</body>

<% include ./footer %>

<% include ./scripts %>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendarSchedules');

        var calendarSchedules = new FullCalendar.Calendar(calendarEl, {
            locale: 'PT-BR',
            plugins: ['interaction', 'dayGrid', 'timeGrid', 'list'],
            height: 'parent',
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
            },
            defaultView: 'dayGridMonth',
            // defaultDate: '2019-04-12',
            navLinks: true, // can click day/week names to navigate views
            editable: true,
            eventLimit: true, // allow "more" link when too many events
            events: [
                '<% if (consultation.length > 0) {%>',
                '<% for (var i = 0; i < consultation.length; i++) {%>',
                {
                    id: '<%= consultation[i].id  %>',
                    title: '<%= consultation[i].consultPatient.name %>',
                    start: '<%= moment(consultation[i].dateStart).format()  %>',
                    end: '<%= moment(consultation[i].dateEnd).add(4, "hours").format()  %>',
                    color: '<%= consultation[i].color  %>',
                    extendedProps: {
                        trainee: '<%= consultation[i].consultTrainee.name %>',
                        description: '<%= consultation[i].description  %>',
                        typeSchedule: '<%= consultation[i].typeSchedule  %>',
                    },
                    textColor: '#fff',

                },

                '<% } %>',
                '<% } %>',

            ],

            eventClick: function (info) {
                info.jsEvent.preventDefault();
                if (info.event.extendedProps.typeSchedule == 1) {
                    $('#viewConsult #id').val(info.event.id);
                    $('#viewConsult #patient').val(info.event.title);
                    $('#viewConsult #dateStart').val(info.event.start.toLocaleString());
                    $('#viewConsult #trainee').val(info.event.extendedProps.trainee);
                    $('#viewConsult #scheduleTypeConsult').val(info.event.extendedProps.typeSchedule);
                    $('#viewConsult #description').val(info.event.extendedProps.description);
                    $('#viewConsult').modal('show');

                } else if (info.event.extendedProps.typeSchedule == 2) {
                    $('#viewConsultPatient #id').val(info.event.id);
                    $('#viewConsultPatient #patient').val(info.event.title);
                    $('#viewConsultPatient #dateStart').val(info.event.start.toLocaleString());
                    $('#viewConsultPatient #typeScheduleSchedules').val(info.event.extendedProps.typeSchedule);
                    $('#viewConsultPatient').modal('show');
                }
            },

            selectable: true,
            select: function (info) {
                // alert('selected ' + info.start.toLocaleString());
                $('#register #dateStart').val(info.start.toLocaleString());
                $('#viewConsultDashboard #dateConsult').val(info.start.toLocaleString());
                $('#register').modal('show');

            },
        });

        calendarSchedules.render();
    });

</script>

</html>