<div class="modal fade" id="viewConsult" tabindex="-1" role="dialog" aria-labelledby="viewConsultModel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form method="POST" id="update-consultation" action="consultation/update">
                    <h6 class="heading-small text-muted mb-4">Consulta</h6>
                    <div class="pl-lg-3">
                        <hr class="my-4" />
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="hidden" id="id" name="consultationId">
                                <input type="hidden" id="typeScheduleConsult" name="typeScheduleConsult">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Paciente

                                    </label>
                                    <div style="position: relative; float: right;" class="collapse multi-collapse"
                                        id="multiCollapseExample2">
                                        <input style="border: none; " class="form-control-label" id="phone"
                                            name="phone">
                                    </div>

                                    <a title="Telefone" data-toggle="collapse" data-target="#multiCollapseExample2"
                                        aria-expanded="false" aria-controls="multiCollapseExample2">
                                        <i class="ni ni-mobile-button"></i>
                                    </a>


                                    <input type="text" id="patient" name="patientId" disabled
                                        class="form-control form-control-alternative">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label">Data da Consulta</label>
                                    <input type="date" id="dateStart" name="dateStart" disabled
                                        class="form-control form-control-alternative">
                                </div>

                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label class="form-control-label">Horario</label>
                                    <input type="time" id="timeStart" name="timeStart" disabled
                                        class="form-control form-control-alternative">
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label">Estagiário</label>
                                    <select id="traineeId" disabled class="form-control form-control-alternative"
                                        name="traineeId" data-placeholder="Selecione">
                                        <% if (trainees.length > 0) { %>
                                        <% for (var i = 0; i < trainees.length; i++) { %>
                                        <option value='<%= trainees[i].id %>'><%= trainees[i].name %></option>
                                        <% } %>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label">Tipo Consulta</label>
                                    <select class="form-control" disabled name="typeProcedure" id="typeProcedure"
                                        data-placeholder="Selecione">
                                        <% if (procedure.length > 0) { %>
                                        <% for (var i = 0; i < procedure.length; i++) { %>
                                        <option value='<%= procedure[i].id %>'><%= procedure[i].typeProcedure %>
                                        </option>
                                        <% } %>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div>
                                    <label class="form-control-label">Observação</label>
                                    <input id="description" name="description" disabled
                                        class="form-control form-control-alternative"></input>
                                </div>
                            </div>
                        </div>
                        <%if (user.NivelPermissaoId == 1 || user.NivelPermissaoId == 2){%>


                        <hr class="my-4" />
                        <div id="ocultar-botoes"  style="float: right;">
                            <a id= "Finalizar" onclick="finalizarConsulta()" title="Finalizar Consulta" class="btn btn-success"><i class="ni ni-lg ni-check-bold text-white"></i></a>

                            <a id="updateHidden" title="Alterar" class="btn btn-primary"><img title="Alterar"src="img/icons/common/edit.svg"></a>

                            <a id="update-consult"  onclick="updateConsultation()" class="btn btn-success" value="Salvar Alteracoes"><img title="Alterar"
                                    src="img/icons/common/edit.svg"></a>

                          
                            <a id="voltar-consult" title="Voltar " class="btn btn-primary"><i class="ni ni-curved-next text-white"></i></a>

                            <a title="Cancelar" onclick="cancelar() "  class="btn btn-danger" value="Cancelar"><i
                                class="ni ni-lg ni-basket text-white"></i></a>
                    
                         </div>
                        <%}%>

                    </div>
                </form>

                <form method="POST" id="cancelSchedules" action="consultation/cancelamento">
                    <input type="hidden" id="id" name="cancelId">
                    <input type="hidden" id="typeScheduleConsult" name="typeScheduleConsult">
                </form>

                <form method="POST" id="end-consultation" action="consultation/conclude">
                    <input type="hidden" id="id" name="consultationId">
                    <input type="hidden" id="typeScheduleConsult" name="typeProcedure">
                </form>

            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="viewConsultPatient" tabindex="-1" role="dialog" aria-labelledby="viewConsultPatientModel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form id="confirmSchedules" method="POST" action="consultation/confirmar">

                    <h6 class="heading-small text-muted mb-4">Agendamento</h6>

                    <div class="pl-lg-11">
                        <div class="row">
                            <input type="hidden" id="id" name="consultationId">
                            <input type="hidden" name="typeScheduleSchedules">
                            <div class="col-lg-12">
                                <div class="form-group">
                                <label class="form-control-label">Paciente</label>
                                <div style="position: relative; float: right;" class="collapse multi-collapse" id="multiCollapseExample2"  >
                                        <input style="border: none; " class="form-control-label" id="phone" name="phone">
                                    </div>

                                <a  title="Telefone" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">
                                        <i class="ni ni-mobile-button"></i>
                                        </a>
                                    <input type="text" id="patient" name="patientId" disabled
                                        class="form-control form-control-alternative">

                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-control-label">Data da Consulta</label>
                                    <input type="date" id="dateInit" name="dateInit" disabled
                                        class="form-control form-control-alternative">
                                </div>
                            </div>

                            <div id="time-begin" class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-control-label">Horario da Consulta</label>
                                    <input type="time" id="timeStart" name="timeStart"
                                        class="form-control form-control-alternative">

                                </div>
                            </div>
                            <div id="time-hour-start" class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label">Horario Inicial</label>
                                    <input type="time" id="timeStart" name="timeStart" disabled
                                        class="form-control form-control-alternative">

                                </div>
                            </div>
                            <div id="time-hour-end" class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label">Horario Final</label>
                                    <input type="time" id="timeEnd" name="timeEnd" disabled
                                        class="form-control form-control-alternative">

                                </div>
                            </div>
                        </div>
                        <div class="confirm-hidden">
                            <div id="traineeHidden" class="row-hidden">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-control-label">Estagiário</label>
                                        <select id="traineeId" class="form-control form-control-alternative"
                                            name="traineeId" data-placeholder="Selecione">
                                            <% if (trainees.length > 0) { %>
                        <% for (var i = 0; i < trainees.length; i++) { %>
                        <option value='<%= trainees[i].id %>'><%= trainees[i].name %></option>
                        <% } %>
                        <% } %>
                        </select>

                    </div>
            </div>
        </div>
        <div id="typeHidden" class="row-hidden">
            <div class="col-lg-12">
                <div class="form-group">
                    <label class="form-control-label">Tipo da Consulta</label>
                    <select class="form-control" name="typeProcedure" id="typeProcedure" data-placeholder="Selecione">
                        <% if (procedure.length > 0) { %>
                        <% for (var i = 0; i < procedure.length; i++) { %>
                        <option value='<%= procedure[i].id %>'><%= procedure[i].typeProcedure %>
                        </option>
                        <% } %>
                        <% } %>
                    </select>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div>
                <label class="form-control-label">Observação</label>
                <input id="description" name="description" disabled class="form-control form-control-alternative"></input>

            </div>
        </div>
    </div>
</div>
<input id="patientIdHidden" name="idHiddenPatientEmail" type="hidden" class="form-control form-control-alternative"></input>

</form>


<hr class="my-4" />
<div class="buttons-schedules">
    <% if (user.NivelPermissaoId == 1 || user.NivelPermissaoId == 2){  %>


    <a id="confHidden" title="Confirmar" class="btn btn-success"><i class="ni ni-lg ni-check-bold text-white"></i></a>

    <a id="saveHidden" onclick="confirmar()" class="btn btn-success"><i title="Salvar"
            class="ni ni-lg ni-calendar-grid-58 text-white"></i></a>

    <a id="esperaHidden" onclick="wait()" class="btn btn-primary"><i title="Lista de Espera"
            class="ni ni-lg ni-bullet-list-67 text-white"></i></a>


    <a id="voltarHidden" title="Voltar " class="btn btn-primary"><i class="ni ni-curved-next text-white"></i></a>
    <%}%>
                <a id="deletarHidden"  onclick="deletar();"  title="Deletar Consulta "class="btn btn-danger"><i class="ni ni-lg ni-basket text-white"></i></a>

                </div>

                <form method="POST" id="waitPatient" action="waits/save">
                    <input type="hidden" id="id" name="consultationId">
                    <input type="hidden" id="patientIdHidden" name="patientIdHidden">
                </form>

                <form id="deleteSchedules" method="POST" action="consultation/delete">
                    <input type="hidden" id="id" name="consultationId">
                    <input type="hidden" id="typeScheduleSchedules" name="typeScheduleSchedules">
                </form>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="registerModal" aria-hidden="true">
    <% if (user.NivelPermissaoId == 1  || user.NivelPermissaoId == 2) { %>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerModal">Nova Consulta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/consultation/save" method="POST">
                    <h6 class="heading-small text-muted mb-4">Consulta</h6>
                    <div class="pl-lg-3">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" onclick="fieldsSchedulesShow();"
                                id="defaultInline2" name="typeSchedule" value="1" checked="checked">
                            <label class="custom-control-label" for="defaultInline2">Consultar</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" onclick="fieldsSchedulesHidden();"
                                id="defaultInline3" name="typeSchedule" value="2">
                            <label class="custom-control-label" for="defaultInline3">Agendar</label>
                        </div>
                        <hr class="my-4" />

                        <div class="row">

                            <div class="col-lg-6">

                                <div id="patientSelect" class="form-group">
                                    <label class="form-control-label" for="input-username">Paciente:</label>
                                    <a id="buttonHiddenPatient" style="width: 10%; float:right; "
                                        class="btn btn-primary btn-sm" onclick="showWait()" value=""><i
                                            class="ni ni-lg ni-badge text-white"></i></a>

                                    <select id="patientModal" name="patientId"
                                        class="form-control form-control-alternative">
                                        <option value='0'>Selecione</option>
                                        <% if (patients.length > 0) { %>
                                        <% for (var i = 0; i < patients.length; i++) { %>
                                        <option value='<%= patients[i].id %>'><%= patients[i].name %>
                                        </option>
                                        <% } %>
                                        <% } %>

                                    </select>
                                </div>

                                <div style="display: none;" id="patientWaitSelect" class="form-group">
                                    <label class="form-control-label" for="input-username">Lista de
                                        Espera</label>
                                    <a id="buttonHiddenPatient" style="width: 10%; float:right; "
                                        class="btn btn-primary btn-sm" onclick="showAllPatient()" value=""><i
                                            class="ni ni-lg ni-paper-diploma text-white"></i></a>

                                    <select id="patientWaitModal" name="patientWaitId"
                                        class="form-control form-control-alternative" onchange="getHTML();">
                                        <option value=''>Selecione</option>
                                        <% if (waitPatients.length > 0) { %>
                                        <% for (var i = 0; i < waitPatients.length; i++) { %>
                                        <option value='<%= waitPatients[i].waitPatient.id %>'>
                                            <%= waitPatients[i].waitPatient.name %></option>
                                        <% } %>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label">Data</label>
                                    <input type="date" id="dateStart" name="dateStart"
                                        class="form-control form-control-alternative">
                                </div>
                            </div>


                            <div id="registerHoursInit" class="col-lg-2">
                                <div class="form-group">
                                    <label class="form-control-label">Horario</label>
                                    <input type="time" id="timeStart" name="timeStart"
                                        class="form-control form-control-alternative">
                                </div>


                            </div>
                        </div>

                        <div class="row" style="display: none;" id="registerHoursInitEnd">
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label class="form-control-label">Horario Inicial</label>
                                    <input type="time" id="timeStart" name="timeStartInit"
                                        class="form-control form-control-alternative">
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label class="form-control-label">Horario Final</label>
                                    <input type="time" id="timeEnd" name="timeEnd"
                                        class="form-control form-control-alternative">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div id="traineeSchedulesHidden" class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label">Estagiário</label>
                                    <select id="traineeId" class="form-control form-control-alternative"
                                        name="traineeId" data-placeholder="Selecione">
                                        <% if (trainees.length > 0) { %>
                                        <% for (var i = 0; i < trainees.length; i++) { %>
                                        <option value='<%= trainees[i].id %>'><%= trainees[i].name %>
                                        </option>
                                        <% } %>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                            <div id="typeConsultHidden" class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label">Tipo Consulta</label>
                                    <select class="form-control" name="typeProcedure" id="typeProcedure"
                                        data-placeholder="Selecione">
                                        <% if (procedure.length > 0) { %>
                                        <% for (var i = 0; i < procedure.length; i++) { %>
                                        <option value='<%= procedure[i].id %>'>
                                            <%= procedure[i].typeProcedure %></option>
                                        <% } %>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div>
                                    <label class="form-control-label">Observação</label>
                                    <input id="description" name="description"
                                        class="form-control form-control-alternative"></input>

                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="my-3" />
                    <input style="float: right;" type="submit" class="btn btn-success" value="Marcar Consulta"></input>
                </form>

            </div>
        </div>
    </div>
    <% }else if (user.NivelPermissaoId == 4) { %>
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/consultation/save" method="POST">
                    <h6 class="heading-small text-muted mb-4">Agendamento</h6>
                    <div class="pl-lg-11">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-control-label">Data Desejada</label>
                                    <input type="date" id="dateStart" name="dateStart"
                                        class="form-control form-control-alternative">

                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label">Horario Desejado</label>
                                    <input type="time" id="timeStart" name="timeStart"
                                        class="form-control form-control-alternative">

                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label">Horario Final</label>
                                    <input type="time" id="timeEnd" name="timeEnd"
                                        class="form-control form-control-alternative">

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div>
                                    <label class="form-control-label">Observação</label>
                                    <input id="description" name="description" 
                                        class="form-control form-control-alternative"></input>

                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="my-4" />
                    <input type="submit" class="btn btn-success" value="Marcar Agendamento"></input>
                </form>
            </div>
        </div>
    </div>
    <% }else{ %>
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-primary" role="alert">
                    Você não pode solicitar um agendamento!
                    Procure a clínica
                </div>
            </div>
        </div>
    </div>
    <% } %>
</div>