<div class="modal fade" id="viewConsult" tabindex="-1" role="dialog" aria-labelledby="viewConsultModel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewConsultModel">Consulta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="consultation/update">
                    <h6 class="heading-small text-muted mb-4">Consulta</h6>
                    <div class="pl-lg-3">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="defaultInline1" name="" value="1"
                                checked="checked">
                            <label class="custom-control-label" for="defaultInline1">Consulta</label>
                        </div>

                        <hr class="my-4" />
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="hidden" id="id" name="consultationId">
                                <input type="hidden" id="typeScheduleConsult" name="typeScheduleConsult">

                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Paciente</label>
                                    <input type="text" id="patient" name="patientId"
                                        class="form-control form-control-alternative">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label">Data da Consulta</label>
                                    <input type="text" id="dateStart" name="dateStart"
                                        class="form-control form-control-alternative">
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label">Estagiário</label>
                                    <input type="text" id="trainee" name="traineeId"
                                        class="form-control form-control-alternative">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label">Tipo Consulta</label>
                                    <select class="form-control" name="" id="" data-placeholder="Selecione">
                                        <option value=''>Retorno</option>
                                        <option value=''>Triagem</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div>
                                    <label class="form-control-label">Observação</label>
                                    <textarea id="description" name="description"
                                        class="form-control form-control-alternative"></textarea>
                                </div>
                            </div>
                        </div>

                        <hr class="my-4" />
                        <input type="button" onclick="cancelar(), confirm('Você confirma o cancelamento?')" class="btn btn-danger" value="Cancelar"></input>
                        <input type="button" onclick="update()" class="btn btn-primary" value="Alterar"></input>
             
                    </div>

                </form>

                <form method="POST" id="cancelSchedules" action="consultation/cancelamento">
                    <input type="hidden" id="id" name="cancelId">
                    <input type="hidden" id="typeScheduleConsult" name="typeScheduleConsult">

                </form>

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="viewConsultPatient" tabindex="-1" role="dialog" aria-labelledby="viewConsultPatientModel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="updateSchedules" method="POST" action="consultation/delete">

                    <h6 class="heading-small text-muted mb-4">Agendamento</h6>

                    <div class="pl-lg-11">
                        <div class="row">

                            <input type="hidden" id="id" name="consultationId">
                            <input type="hidden" name="typeScheduleSchedules">

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-control-label">Paciente</label>
                                    <input type="text" id="patient" name="patientId"
                                        class="form-control form-control-alternative">

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-control-label">Data/Hora da Consulta</label>
                                    <input type="text" id="dateStart" name="dateStart"
                                        class="form-control form-control-alternative">

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div>
                                    <label class="form-control-label">Observação</label>
                                    <textarea id="description" name="description"
                                        class="form-control form-control-alternative"></textarea>

                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="my-4" />
                    <input type="button" onclick="deletar()" class="btn btn-danger" value="Excluir"></input>

                    <input type="button" onclick="update()" class="btn btn-primary" value="Alterar"></input>

                    <input type="button" onclick="wait()" class="btn btn-success" value="Espera"></input>

                </form>

                <form method="POST" id="waitPatient" action="waits/save">
                    <input type="hidden" id="id" name="consultationId">
                    <input type="hidden" id="patientIdHidden" name="patientIdHidden">
                </form>

                <form id="deleteSchedules" method="POST" action="consultation/delete">
                    <input type="hidden" id="id" name="consultationId">
                    <input type="hidden" id="typeScheduleSchedules" name="typeScheduleSchedules">
                </form>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="registerModal" aria-hidden="true">
    <% if (user.NivelPermissaoId == 1  || user.NivelPermissaoId == 2) { %>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerModal">Nova Consulta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/consultation/save" method="POST">
                    <h6 class="heading-small text-muted mb-4">Consulta</h6>
                    <div class="pl-lg-3">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="defaultInline2" name="typeSchedule"
                                value="1" checked="checked">
                            <label class="custom-control-label" for="defaultInline2">Consultar</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="defaultInline3" name="typeSchedule"
                                value="2">
                            <label class="custom-control-label" for="defaultInline3">Agendar</label>
                        </div>
                        <hr class="my-4" />

                        <div class="row">

                            <div class="col-lg-6">
                                
                                <!-- TENTAR ATIVAR OU DESATIVAR ESSE CAMPO -->

                                <div id="patientSelect" class="form-group">
                                    <label class="form-control-label" for="input-username">Paciente:</label>
                                    <input id="buttonHiddenPatient" type="button" style="width: 10%; float:right; "class="btn btn-outline-primary btn-sm" onclick="showWait()" value=""></input>

                                    <select id="patientModal" name="patientId"
                                        class="form-control form-control-alternative">
                                        <option value='0'>Selecione</option>
                                        <% if (patients.length > 0) { %>
                                        <% for (var i = 0; i < patients.length; i++) { %>
                                        <option value='<%= patients[i].id %>'><%= patients[i].name %></option>
                                        <% } %>
                                        <% } %>

                                    </select>
                                </div>
                                
                                <div style="display: none;"id="patientWaitSelect" class="form-group">
                                    <label class="form-control-label" for="input-username">Lista de Espera</label>
                                    <input id="buttonHiddenPatient" type="button" style="width: 10%; float:right; "class="btn btn-outline-primary btn-sm" onclick="showAllPatient()" value=""></input>

                                    <select id="patientWaitModal" name="patientWaitId"
                                        class="form-control form-control-alternative" onchange="getHTML();">
                                        <option value=''>Selecione</option>
                                        <% if (waitPatients.length > 0) { %>
                                        <% for (var i = 0; i < waitPatients.length; i++) { %>
                                        <option value='<%= waitPatients[i].waitPatient.id %>'><%= waitPatients[i].waitPatient.name %></option>
                                        <% } %>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label">Data da Consulta</label>
                                    <input type="text" id="dateStart" name="dateStart"
                                        class="form-control form-control-alternative">
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label">Estagiário</label>
                                    <select id="traineeId" class="form-control form-control-alternative"
                                        name="traineeId" data-placeholder="Selecione">
                                        <% if (trainees.length > 0) { %>
                                        <% for (var i = 0; i < trainees.length; i++) { %>
                                        <option value='<%= trainees[i].id %>'><%= trainees[i].name %></option>
                                        <% } %>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label">Tipo Consulta</label>
                                    <select class="form-control" name="" id="" data-placeholder="Selecione">
                                        <option value=''>Retorno</option>
                                        <option value=''>Triagem</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div>
                                    <label class="form-control-label">Observação</label>
                                    <textarea id="description" name="description"
                                        class="form-control form-control-alternative"></textarea>

                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="my-4" />
                    <input type="submit" class="btn btn-info" value="Marcar Consulta"></input>
                </form>

            </div>
        </div>
    </div>
    <% }else if (user.NivelPermissaoId == 4) { %>
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/consultation/save" method="POST">
                    <h6 class="heading-small text-muted mb-4">Agendamento</h6>
                    <div class="pl-lg-11">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-control-label">Data/Hora da Consulta</label>
                                    <input type="text" id="dateStart" name="dateStart"
                                        class="form-control form-control-alternative">

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div>
                                    <label class="form-control-label">Observação</label>
                                    <textarea id="description" name="description"
                                        class="form-control form-control-alternative"></textarea>

                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="my-4" />
                    <input type="submit" class="btn btn-info" value="Marcar Consulta"></input>
                </form>
            </div>
        </div>
    </div>
</div>
<% } %>