<!DOCTYPE html>
<html>
<% include ../layout %>

<body>
  <!-- Sidenav -->
  <% include ../partials/sidebar %>
  <!-- Main content -->
  <div class="main-content">
    <!-- Top navbar -->
    <% include ../partials/navbar %>
    <!-- Header -->
    <% include ../partials/header %>
    <!-- Page content -->
    <div class="container-fluid mt--7 pt-md-6">
      <div class="row">
        <div class="col-lg-7 mb-5 mb-xl-0">
          <div class="card bg-gradient-default shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <!-- <div class="col">
                    <h6 class="text-uppercase text-light ls-1 mb-1">Consultas</h6>
                    <h2 class="text-white mb-0">Agenda</h2>
                  </div> -->
                <div class="col">
                  <ul class="nav nav-pills justify-content-end">
                      <li class="nav-item" data-toggle="chart" data-target="#chart-sales">
                      <a href="#register" class="nav-link py-1 px-1 deactive" data-toggle="modal">
                        <span class="d-none d-md-block">Nova Consulta</span>
                      </a>
                    </li>
                      <li class="nav-item" data-toggle="chart" data-target="#chart-sales">
                          <a href="#" class="nav-link py-1 px-1 active" data-toggle="tab">
                              <span class="d-none d-md-block">Ver Consultas</span>
                          </a>
                        </li>
                        <li class="nav-item" data-toggle="chart" data-target="#chart-sales">
                            <a href="#" class="nav-link py-1 px-1 deactive" data-toggle="tab">
                                <span class="d-none d-md-block">Ver Agendamentos</span>
                            </a>
                          </li>
                  </ul>
                </div>
              </div>
            </div>
            
            <div class="card-body">
              <div style="font-size: 14px" id='calendarDashboard'></div>


            </div>
          </div>
        </div>
        <div class="col-xl-5" id="viewConsultDashboard">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">  
                <div class="col">
                  <div class="form-group">
                          <label class="form-control-label">Consultas no(a)</label>
                          
                  </div>  
                  <a class="btn btn-primary primary"
                    href="">Semana</a>
                  <a class="btn btn-primary primary"
                    href="">Dia</a>
                  <a class="btn btn-primary primary"
                    href="">Data</a>
                </div>

              </div>
            </div>
            <div class="card-body" >              
              <div class="chart">
                  <% if (consult.length > 0) {%>
                  <% for (var i = 0; i < consult.length; i++) {%>
                      <label class="form-control-label">Paciente: <%= consult[i].consultPatient.name %></label>
                      <label class="form-control-label">Data: <%= moment(consult[i].dateStart).format('DD/MM/YYYY')%> Horario: <%=moment(consult[i].dateStart).format('HH:mm') %></label>
                      <!-- <label class="form-control-label">Atendente: <%= //consult[i].consultTrainee.name%></label> -->
                      <hr class="my-2" />
                      <% } %>
                  <% } %>
                <canvas id="chart-orders" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-xl-8 mb-5 mb-xl-0">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Consultas Marcadas</h3>
                </div>
                <div class="col text-right">
                  <a href="#!" class="btn btn-sm btn-primary">Ver Mais</a>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Horario</th>
                    <th scope="col">Estagiário</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                      /argon/
                    </th>
                    <td>
                      4,569
                    </td>
                    <td>
                      340
                    </td>
                    <td>
                      <i class="fas fa-arrow-up text-success mr-3"></i> 46,53%
                    </td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>

    <% include ../partials/schedulesModal %>  
      </div>
      <!-- Footer -->
      <% include ../partials/footer %>
    </div>

  </div>
  <!-- Include scripts -->
  <% include ../partials/scripts %>

</body>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendarDashboard');

        var calendarDashboard = new FullCalendar.Calendar(calendarEl, {
            locale: 'pt-br',
            plugins: ['interaction', 'dayGrid', 'moment'],
            //defaultDate: '2019-04-12',
            editable: true,
            
            eventLimit: true, // allow "more" link when too many events
            events: [
                '<% if (consultation.length > 0) {%>',
                '<% for (var i = 0; i < consultation.length; i++) {%>',
                {
                    id: '<%= consultation[i].id  %>',
                    title: '<%= consultation[i].consultPatient.name%>',
                    start: '<%= moment(consultation[i].dateStart).format()  %>',
                    end: '<%= moment(consultation[i].dateEnd).add(4, "hours").format()  %>',
                    color: '<%= consultation[i].color  %>',
                    extendedProps: {
                        trainee: '<%= consultation[i].consultTraineeId %>',
                        secretary: '<%= consultation[i].consultSecretaryId  %>',
                    },
                    textColor: '#fff',
                },
                '<% } %>',
                '<% } %>',
            ],

            eventClick: function (info) {
                info.jsEvent.preventDefault();
                $('#viewConsult #id').text(info.event.id);
                $('#viewConsult #patient').text(info.event.title);
                $('#viewConsult #dateStart').text(info.event.start.toLocaleString());
                $('#viewConsult #trainee').text(info.event.extendedProps.trainee);
                $('#viewConsult #secretary').text(info.event.extendedProps.secretary);
                $('#viewConsult').modal('show');
            },

            selectable: true,
            select: function (info) {
                $('#register #dateStart').val(info.start.toLocaleString());
                $('#viewConsultDashboard #dateConsult').val(info.start.toLocaleString());
                // $('#register').modal('show');
            },
        
        });

        calendarDashboard.render();
    });
</script>

</html>