<!DOCTYPE html>
<html>

<% include ../layout %>

<script>
  
 </script>

<body>
  <!-- Sidenav -->
  <% include ../partials/sidebar %>
  <!-- Main content -->
  <div class="main-content">
    <!-- Top navbar -->
    <% include ../partials/navbar %>
    <!-- Header -->
    <% include ../partials/header %>
    <!-- Page content -->
    <div class="container-fluid mt--7 pt-md-6">
      <div class="row">
        <div class="col-lg-7 mb-5 mb-xl-0">
          <div class="card bg-gradient-default shadow">
              <% include ../partials/message %>
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <ul class="nav nav-pills justify-content-end">
                      <li class="nav-item" data-toggle="chart" data-target="#chart-sales">
                      <a href="#register" class="nav-link py-1 px-1 deactive" data-toggle="modal">
                        <span class="d-none d-md-block">Nova Consulta</span>
                      </a>
                    </li>
                    <% if (user.NivelPermissaoId == 1  || user.NivelPermissaoId == 2) { %>
                      <li class="nav-item" data-toggle="chart" data-target="#chart-sales">
                        <a href="/dashboard" class="nav-link py-1 px-1 active">
                            <span class="d-none d-md-block">Ver Consultas</span>
                        </a>
                      </li>
                      <li class="nav-item" data-toggle="chart" data-target="#chart-sales">
                        <a href="/schedules" class="nav-link py-1 px-1 active">
                            <span class="d-none d-md-block">Ver Agendamentos</span>
                        </a>
                      </li>
                    <% } %>
                  </ul>
                </div>
              </div>
            </div>
            
            <div class="card-body">
              <div style="font-size: 14px" id='calendarDashboard'></div>


            </div>
          </div>
        </div>
        <div class="col-xl-5" id="viewConsultDashboard">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">  
                <div class="col">
                  <div class="form-group">
                          <label class="form-control-label">Consultas no(a)</label>
                          <a style="color: black; float: right;"class="btn btn-sm btn-outline-primary" >Você tem <%= countSchedules[0].typeSchedule %> Agendamento(os)</a>

                  </div>  
                  <button class="btn btn-primary primary"
                  id="allConsultDays">Hoje</button>
                  <a class="btn btn-primary primary"
                    href="">Data</a>
                </div>

              </div>
            </div>
            <div class="card-body" >              
              <div class="chart">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Paciente</th>
                      <th scope="col">Data</th>
                      <th scope="col">Hora</th>
                    </tr>
                  </thead>
                  <tbody id="table-day"> 
                      <!-- Listagem das consultas do dias -->
                    </tbody>
                </table>
                
                <canvas id="chart-orders" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-xl-12 mb-5 mb-xl-0">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Consultas Marcadas</h3>
                </div>
                
                <div class="col text-right">
                    <a class="btn btn-sm btn-primary" href="/dashboard">Todos</a>
                    <a class="btn btn-sm btn-primary" id="allConsultWeek">Na Semana</a>
                    <a href="#!" class="btn btn-sm btn-primary">Hoje</a>
                  <a href="/consultation" class="btn btn-sm btn-primary">Ver Mais</a>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Tipo</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Horario</th>
                    <th scope="col">Estagiário</th>
                    <th scope="col">Usuario</th>

                  </tr>
                </thead>
                <tbody id="table-complete"> 
                  <% if (consultation.length > 0){ %>
                    <% for (var i = 0; i < consultation.length; i++) {%>
                      <%  if (i < 6) {%>
                      <tr>
                        <% if(consultation[i].typeSchedule == 1) { %>
                          <th scope="row">
                            Consulta
                          </th>
                        <%} else if(consultation[i].typeSchedule == 2) { %>
                          <th scope="row">
                            Agendamento
                          </th>
                        <% } %>
                        <td>
                          <%= consultation[i].consultPatient.name %>
                        </td>
                        <td>
                          <%= consultation[i].consultPatient.phone %>
                        </td>
                        <td>
                            <%= moment(consultation[i].dateStart).format('DD/MM/YYYY HH:mm') %>
                        </td>
                        <% if(consultation[i].consultTraineeId == null) { %>
                          <td>
                            Nao Informado
                          </td>
                        <%} else { %>
                          <td>
                            <%= consultation[i].consultTrainee.name %>
                          </td>
                        <% } %>
                        <% if(consultation[i].consultSecretaryId == null && consultation[i].consultMasterId == null) { %>
                          <td>
                            Portal
                          </td>
                        <% } else if (consultation[i].consultMasterId == null) { %>
                          <td>
                            <%= consultation[i].consultSecretary.name %>
                          </td>
                        <% } else { %>
                          <td>
                            <%= consultation[i].consultMaster.name %>
                          </td>
                            <% }  %>

                      </tr>
                      <% } %>
                    <% } %>
                  <% } %>    
                  </tbody>
              </table>
            </div>
          </div>
        </div>

    <% include ../partials/schedulesModal %>  
      </div>
      <!-- Footer -->
      <% include ../partials/footer %>
    </div>

  </div>
  <!-- Include scripts -->
  <% include ../partials/scripts %>

</body>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendarDashboard');

        var calendarDashboard = new FullCalendar.Calendar(calendarEl, {
            locale: 'pt-br',
            plugins: ['interaction', 'dayGrid', 'moment'],
            //defaultDate: '2019-04-12',
            editable: true,
            
            eventLimit: true, // allow "more" link when too many events
            events: [
            '<% for (var i = 0; i < consultation.length; i++) {%>',
                '<% if (consultation[i].consultTraineeId != null) { %>',
                {
                    id: '<%= consultation[i].id  %>',
                    title: '<%= consultation[i].consultPatient.name %>',
                    start: '<%= moment(consultation[i].dateStart).format()  %>',
                    end: '<%= moment(consultation[i].dateEnd).add(4, "hours").format()  %>',
                    color: '<%= consultation[i].color  %>',
                    extendedProps: {
                        trainee: '<%= consultation[i].consultTrainee.name %>',
                        description: '<%= consultation[i].description  %>',
                        typeSchedule: '<%= consultation[i].typeSchedule  %>',
                        patientId: '<%= consultation[i].consultPatientId %>',

                    },
                    textColor: '#fff',
                },
                '<% } else { %>',
                {
                    id: '<%= consultation[i].id  %>',
                    title: '<%= consultation[i].consultPatient.name %>',
                    start: '<%= moment(consultation[i].dateStart).format()  %>',
                    end: '<%= moment(consultation[i].dateEnd).add(4, "hours").format()  %>',
                    color: '<%= consultation[i].color  %>',
                    extendedProps: {
                        description: '<%= consultation[i].description  %>',
                        typeSchedule: '<%= consultation[i].typeSchedule  %>',
                        patientId: '<%= consultation[i].consultPatientId %>',
                    },
                    textColor: '#fff',
                },
                '<% } %>',
                '<% } %>',

            ],

            eventClick: function (info) {
              info.jsEvent.preventDefault();
                if (info.event.extendedProps.typeSchedule == 1) {
                    $('#viewConsult #id').val(info.event.id);
                    $('#viewConsult #patient').val(info.event.title);
                    $('#viewConsult #dateStart').val(info.event.start.toLocaleString());
                    $('#viewConsult #trainee').val(info.event.extendedProps.trainee);
                    $('#viewConsult #scheduleTypeConsult').val(info.event.extendedProps.typeSchedule);
                    $('#viewConsult #description').val(info.event.extendedProps.description);
                    $('#viewConsult').modal('show');

                } else if (info.event.extendedProps.typeSchedule == 2) {
                    $('#viewConsultPatient #id').val(info.event.id);
                    $('#viewConsultPatient #patientIdHidden').val(info.event.extendedProps.patientId);
                    $('#viewConsultPatient #patient').val(info.event.title);
                    $('#viewConsultPatient #dateStart').val(info.event.start.toLocaleString());
                    $('#viewConsultPatient #typeScheduleSchedules').val(info.event.extendedProps.typeSchedule);
                    $('#viewConsultPatient').modal('show');

                }
            },

            selectable: true,
            select: function (info) {
                $('#register #dateStart').val(info.start.toLocaleString());
                $('#viewConsultDashboard #dateConsult').val(info.start.toLocaleString());
            },
        
        });

        calendarDashboard.render();
    });
</script>

</html>