<!DOCTYPE html>
<html>

<% include ../layout %>

<body>
  <!-- Sidenav -->


  <% include ../partials/sidebar %>
  <!-- Main content -->
  <div class="main-content">
    <!-- Top navbar -->
    <% include ../partials/navbar %>
    <!-- Header -->
    <% include ../partials/header %>
    <!-- Page content -->
    <div class="container-fluid mt--7 pt-md-6">
      <div class="row">
        <div class="col-lg-7 mb-5 mb-xl-0">
          <div data-intro='No calendário podemos ver as consultas, de acordo com o mês. As consultas verdes não foram confirmadas, as Azuis foram feita as confirmações' date-step="3" class="card bg-gradient-default shadow">
            <% include ../partials/message %>
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <ul class="navbar-nav align-items-center d-none d-md-flex">
                  <li class="nav-item dropdown">
                    <a data-intro='Para mais informações sobre as funcionalidades basta clicar no botão que irá abrir uma janela' data-step="4" class="btn btn-primary btn-sm" onClick="docpage('/ajuda#calendar-page-main', 'Ajuda')"><img
                        src="img/icons/common/help.svg"></a>
                  </li>
                </ul>
                <div  class="col">
                  <ul class="nav nav-pills justify-content-end">
                    <li class="nav-item" data-toggle="chart" data-target="#chart-sales">
                      <a id="btn-info-calendar" class="btn btn-primary btn-sm"  
                      onClick="docpage('/ajuda#calendar-page-main', 'Ajuda')" ><img src="img/icons/common/help.svg"></a>

                    </li>
                    <% if (user.NivelPermissaoId != 3 ){%> 
                    <li data-intro='Para marcar uma nova consulta clique neste botão' data-step="5" class="nav-item" data-toggle="chart" data-target="#chart-sales" >
                      <a href="#register" class="nav-link py-1 px-1 deactive" data-toggle="modal" >
                        <span class="">Nova Consulta</span>
                      </a>
                    </li>
                    <%}%>
                    <% if (user.NivelPermissaoId == 1  || user.NivelPermissaoId == 2) { %>
                    <li class="nav-item" data-toggle="chart" data-target="#chart-sales">
                      <a href="/dashboard" class="nav-link py-1 px-1 active">
                        <span class="d-none d-md-block">Consultas</span>
                      </a>
                    </li>
                    <li class="nav-item" data-toggle="chart" data-target="#chart-sales">
                      <a href="/schedules" class="nav-link py-1 px-1 active">
                        <span class="d-none d-md-block">Agendamentos</span>
                      </a>
                    </li>
                    <% } %>
                  </ul>
                </div>
              </div>
            </div>

            <% if (user.NivelPermissaoId == 4) { %>

            <% include ../partials/help/guide-patient %>

            <% } %>

            <div   class="card-body">
              <div style="font-size: 14px" id='calendarDashboard'></div>
            </div>
          </div>

        </div>
        <div data-intro='Tabela com as suas próximas consultas marcadas' data-step="6" class="col-xl-5" id="viewConsultDashboard">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <div class="form-group">
                    <% if (user.NivelPermissaoId == 1 || user.NivelPermissaoId == 2) {%>
                    <button  style="float: right;" type="button" class="btn btn-success btn-sm">
                      Agendamentos <span class="badge badge-light"><%= countSchedules[0].typeSchedule %></span>
                    </button>
                    <% }%>

                    <a  class="btn btn-primary btn-sm" onClick="docpage('/ajuda#doc-consult-list', 'Ajuda')"><img
                        src="img/icons/common/help.svg"></a>

                  </div>
                  <button data-intro='Botão para listar na tabela apenas as consultas marcadas para hoje' data-step="7"  class="btn btn-primary primary btn-sm" id="allConsultDays">Hoje</button>
                  <a data-intro='Lista novamente as próximas consultas' data-step="8" class="btn btn-primary primary  btn-sm" href="">Proximas</a>

                </div>
                <div>
                </div>
              </div>
            </div>
            <div   class="card-body">
              <div class="table-responsive chart">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Paciente</th>
                      <th scope="col">Data</th>
                      <th scope="col">Hora</th>
                    </tr>
                  </thead>
                  <tbody id="table-day">
                    <!-- Criando tabela pelo ajax -->
                  </tbody>
                </table>

                <canvas id="chart-orders" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-intro='Tabela completa com as seis próximas consultas e as solicitações de agendamento' data-step="9"  class="row mt-5">
        <div class="col-xl-12 mb-5 mb-xl-0">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Consultas Marcadas</h3>
                </div>
                <div>
                  <a class="btn btn-primary btn-sm" onClick="docpage('/ajuda#doc-table-complete', 'Ajuda')"><img
                      src="img/icons/common/help.svg"></a>
                </div>

                <div id="btn-table-complete" class="col text-right">
                  <a class="btn btn-sm btn-primary" id="allConsultNext">Proximas Consultas</a>
                  <a class="btn btn-sm btn-primary" id="completeConsultDays">Hoje</a>
                  <a data-intro='Tabela completa todas as consultas e agendamentos' data-step="10" href="/consultation" class="btn btn-sm btn-primary">Todos</a>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table table-striped align-items-center table-md">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Tipo</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Horario</th>
                    <th scope="col">Estagiário</th>
                    <th scope="col">Usuario</th>

                  </tr>
                </thead>
                <tbody id="table-complete">

                </tbody>
              </table>
            </div>
          </div>
        </div>

        <% include ../partials/schedulesModal %>
      </div>
      <!-- Footer -->
      <% include ../partials/footer %>
    </div>

  </div>
  <!-- Include scripts -->
  <% include ../partials/scripts %>

</body>

<script>

  document.addEventListener('DOMContentLoaded', function () {
    var calendarEl = document.getElementById('calendarDashboard');

    var calendarDashboard = new FullCalendar.Calendar(calendarEl, {
      locale: 'pt-br',
      plugins: ['interaction', 'dayGrid', 'moment'],
      //defaultDate: '2019-04-12',
      editable: true,

      eventLimit: true, // allow "more" link when too many events
      events: [
        '<% for (var i = 0; i < consultation.length; i++) {%>',
        '<% if (consultation[i].consultTraineeId != null) { %>',
        {
          id: '<%= consultation[i].id  %>',
          title: '<%= consultation[i].consultPatient.name %>',
          start: '<%= moment(consultation[i].dateStart).format("YYYY-MM-DDTHH:mm")  %>',
          end: '<%= moment(consultation[i].dateEnd).format("YYYY-MM-DDTHH:mm")   %>',
          color: '<%= consultation[i].color  %>',
          extendedProps: {
            trainee: '<%= consultation[i].consultTraineeId %>',
            description: '<%= consultation[i].description  %>',
            typeSchedule: '<%= consultation[i].typeSchedule  %>',
            patientId: '<%= consultation[i].consultPatientId %>',
            typeProcedure: '<%= consultation[i].typeProcedureId %>',
            phone: '<%= consultation[i].consultPatient.phone %>',

          },
          textColor: '#fff',
        },
        '<% } else { %>',
        {
          id: '<%= consultation[i].id  %>',
          title: '<%= consultation[i].consultPatient.name %>',
          start: '<%= moment(consultation[i].dateStart).format("YYYY-MM-DDTHH:mm")  %>',
          end: '<%= moment(consultation[i].dateEnd).format("YYYY-MM-DDTHH:mm")   %>',
          color: '<%= consultation[i].color  %>',
          extendedProps: {
            phone: '<%= consultation[i].consultPatient.phone %>',
            description: '<%= consultation[i].description  %>',
            typeSchedule: '<%= consultation[i].typeSchedule  %>',
            patientId: '<%= consultation[i].consultPatientId %>',
          },
          textColor: '#fff',
        },
        '<% } %>',
        '<% } %>',

      ],

      eventClick: function (info) {
        info.jsEvent.preventDefault();
        if (info.event.extendedProps.typeSchedule == 1) {
          var dt = moment(info.event.start);
          var dtEnd = moment(info.event.end);

          $('#viewConsult #id').val(info.event.id);
          $('#viewConsult #patient').val(info.event.title);
          $('#viewConsult #dateStart').val(dt.format('YYYY-MM-DD'));
          $('#viewConsult #timeStart').val(dt.format('HH:mm'));
          $('#viewConsult #timeEnd').val(dtEnd.format('HH:mm'));
          $('#viewConsult #phone').val(info.event.extendedProps.phone);


          $('#viewConsult #traineeId').val(info.event.extendedProps.trainee);
          $('#viewConsult #scheduleTypeConsult').val(info.event.extendedProps.typeSchedule);
          $('#viewConsult #description').val(info.event.extendedProps.description);
          $('#viewConsult #typeProcedure').val(info.event.extendedProps.typeProcedure);

          $('#viewConsult').modal('show');

        } else if (info.event.extendedProps.typeSchedule == 2) {
          var dt = moment(info.event.start);
          var dtEnd = moment(info.event.end);

          $('#viewConsultPatient #id').val(info.event.id);
          $('#viewConsultPatient #phone').val(info.event.extendedProps.phone);
          $('#viewConsultPatient #patientIdHidden').val(info.event.extendedProps.patientId);
          $('#viewConsultPatient #patient').val(info.event.title);
          $('#viewConsultPatient #dateInit').val(dt.format('YYYY-MM-DD'));
          $('#viewConsultPatient #timeStart').val(dt.format('HH:mm'));
          $('#viewConsultPatient #timeEnd').val(dtEnd.format('HH:mm'));

          $('#viewConsultPatient #typeScheduleSchedules').val(info.event.extendedProps.typeSchedule);
          $('#viewConsultPatient').modal('show');

        }
      },

      selectable: true,
      select: function (info) {
        var dt = moment(info.start);
        $('#register #dateStart').val(dt.format('YYYY-MM-DD'));
        $('#register #timeStart').val(dt.format('HH:mm'));

        $('#viewConsultDashboard #dateConsult').val(dt.format('YYYY-MM-DDTHH:mm'));
      },

    });

    calendarDashboard.render();
  });

  $('.close').click(function (event) {
    $('#guide-patient').fadeOut();
    event.preventDefault();
  });

  $(document).ready(function () {
    var ls = localStorage.getItem("modal");
    if (!ls) {
      $('#guide-patient').modal('show');
    }
  })

  $('#guide-patient').on('shown.bs.modal', function () {
    localStorage.setItem("modal", false);
  });

    
</script>

</html>