<!DOCTYPE html>
<html>
<% include ../layout %>

<body>
    <!-- Sidenav -->
    <% include ../partials/sidebar %>
    <!-- Main content -->
    <div class="main-content">
        <!-- Top navbar -->
        <% include ../partials/navbar %>
        <!-- Header -->
        <% include ../partials/header %>
        <!-- Page content -->

        <div style="justify-content: center !important" class="row mt-4">
            <div class="col-xl-11 mb-5 mb-xl-0">
                <div class="card shadow">
                        <% include ../partials/message %>

                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Pacientes</h3>
                            </div>
                            <a href="/paciente/register"  class="btn btn-outline-success">Consultas</a>
                            <a href=""  class="btn btn-outline-primary">Filtrar</a>
                        </div>
                    </div>
                  
                    <div style = "display: none;"class="col-lg-12">
                            <div class="form-group">
                                <input type="text" id="filter-search" name="name" required
                                    class="form-control form-control-alternative"
                                    placeholder="Digite o nome">
                            </div>
                        </div>
                    
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                  <th scope="col">Tipo</th>
                                  <th scope="col">Nome</th>
                                  <th scope="col">Telefone</th>
                                  <th scope="col">Horario</th>
                                  <th scope="col">Estagiário</th>
                                  <th scope="col">Usuario</th>
              
                                </tr>
                              </thead>
                              <tbody id="table-complete"> 
                                <% if (consultation.length > 0){ %>
                                  <% for (var i = 0; i < consultation.length; i++) {%>
                                    <tr>
                                      <% if(consultation[i].typeSchedule == 1) { %>
                                        <th scope="row">
                                          Consulta
                                        </th>
                                      <%} else if(consultation[i].typeSchedule == 2) { %>
                                        <th scope="row">
                                          Agendamento
                                        </th>
                                      <% } %>
                                      <td>
                                        <%= consultation[i].consultPatient.name %>
                                      </td>
                                      <td>
                                        <%= consultation[i].consultPatient.phone %>
                                      </td>
                                      <td>
                                          <%= moment(consultation[i].dateStart).format('DD/MM/YYYY HH:mm') %>
                                      </td>
                                      <% if(consultation[i].consultTraineeId == null) { %>
                                        <td>
                                          Nao Informado
                                        </td>
                                      <%} else { %>
                                        <td>
                                          <%= consultation[i].consultTrainee.name %>
                                        </td>
                                      <% } %>
                                      <% if(consultation[i].consultSecretaryId == null && consultation[i].consultMasterId == null) { %>
                                        <td>
                                          Portal
                                        </td>
                                      <% } else if (consultation[i].consultMasterId == null) { %>
                                        <td>
                                          <%= consultation[i].consultSecretary.name %>
                                        </td>
                                      <% } else { %>
                                        <td>
                                          <%= consultation[i].consultMaster.name %>
                                        </td>
                                          <% }  %>
              
                                    </tr>
                                  <% } %>
                                <% } %>    
                                </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <% include ../partials/footer %>

    </div>
    </div>
    <!-- Argon Scripts -->
    <!-- Core -->
    <% include ../partials/scripts %>

</body>

</html>