<!DOCTYPE html>
<html>
<% include ../layout %>

<body>
    <!-- Sidenav -->
    <% include ../partials/sidebar %>
    <!-- Main content -->
    <div class="main-content">
        <!-- Top navbar -->
        <% include ../partials/navbar %>
        <!-- Header -->
        <% include ../partials/header %>
        <!-- Page content -->
        <div style="justify-content: center !important" class="row mt-4">
            <div class="col-xl-11 mb-5 mb-xl-0">
                <div class="card shadow">
                    <% include ../partials/message %>
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Supervisores</h3>
                            </div>
                            <a href="/supervisor/register"  class="btn btn-outline-success">Cadastrar</a>
                            <a onclick="showFilter();" class="btn btn-outline-primary">Filtrar</a>
                        </div>
                    </div>
                    <div class="col-lg-10" id="search-filter-field">
                            <form class="form-search-name">
                                <input type="text" name="nameMaster" class="form-control form-control-alternative"
                                    placeholder="Digite o nome">
                                <button class="btn btn-primary" id="search-name-master">Buscar</button>
                            </form>
                        </div>
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Nome Completo</th>
                                    <th scope="col">Telefone</th>
                                    <th scope="col">E-mail</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>

                                    <!-- <th scope="col">Bounce rate</th> -->
                                </tr>
                            </thead>
                            <tbody id="table-master">
                                <% if(masters.length > 0 ) {%>
                                <% for (var i = 0; i < masters.length; i++) { %>
                                <tr>
                                    <th scope="row">
                                        <%= masters[i].name %>
                                    </th>
                                    <td>
                                        <%= masters[i].userMaster.email %>
                                    </td>
                                    <td>
                                        <%= masters[i].phone %>
                                    </td>
                                    <td>
                                        <a class="btn btn-danger delete"
                                            onclick="return confirm('Você confirma a exclusão?')"
                                            href="supervisor/delete/<%= masters[i].userMaster.id %>">Excluir</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-primary primary"
                                            href="supervisor/profile/<%= masters[i].id %>">Alterar</a>
                                    </td>


                                    <% } %>
                                    <% } %>
                                    <!-- <td>
                              <i class="fas fa-arrow-up text-success mr-3"></i> 46,53%
                            </td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <% include ../partials/footer %>

    </div>
    <!-- Argon Scripts -->
    <!-- Core -->
    <% include ../partials/scripts %>

</body>

</html>