<!DOCTYPE html>
<html>
<% include ../layout %>

<body>
    <!-- Sidenav -->
    <% include ../partials/sidebar %>
    <!-- Main content -->
    <div class="main-content">
        <!-- Top navbar -->
        <% include ../partials/navbar %>
        <!-- Header -->
        <% include ../partials/header %>
        <!-- Page content -->

        <div style="justify-content: center !important" class="row mt-4">
            <div class="col-xl-11 mb-5 mb-xl-0">
                <div class="card shadow">
                    <% include ../partials/message %>

                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Pacientes</h3>
                            </div>
                            <a href="/paciente/register"  class="btn btn-success"><i class="ni ni-lg ni-fat-add text-white"></i>Cadastrar</a>
                            <a  id="btn-search" class="btn btn-primary"><img src="img/icons/common/filter.svg">Filtrar</a>                        </div>
                    </div>

                    <div id="campo-buscar">
                        <div class="col-lg-10" >
                        <form class="form-search-name">
                            <input type="text" name="namePatient" class="form-control form-control-alternative"
                                placeholder="Digite o nome">
                            <a class="ml-5 btn btn-primary" id="search-name-patient"> <img src="img/icons/common/search.svg">Buscar</a>
                        </form>
                    </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-hover align-items-center table-md">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Nome Completo</th>
                                    <th scope="col">E-mail</th>
                                    <th  class="col-5" >Telefone</th>
                                    <th></th>
                                    <th  ></th>

                                    <!-- <th scope="col">Bounce rate</th> -->
                                </tr>
                            </thead>
                            <tbody id="table-patient">
                                <% if(patients.length > 0 ) {%>
                                <% for (var i = 0; i < patients.length; i++) { %>
                                <tr>
                                    <th >
                                        <%= patients[i].name %>
                                    </th>
                                    <td>
                                        <%= patients[i].userPatient.email %>
                                    </td>
                                    <td >
                                        <%= patients[i].phone %>
                                    </td>
                                    <td>
                                        <a class="btn btn-primary primary btn-sm"
                                            href="paciente/profile/<%= patients[i].id %>"><img src="img/icons/common/eye.svg"></a>
                                    </td>
                                    <td>
                                        <a class="btn btn-danger delete btn-sm"
                                            onclick="return confirm('Você confirma a exclusão?')"
                                            href="paciente/delete/<%= patients[i].userPatient.id %>"><i class="ni ni-lg ni-basket text-white"></a>
                                    </td>
                                   


                                    <% } %>
                                    <% } %>
                                    <!-- <td>
                              <i class="fas fa-arrow-up text-success mr-3"></i> 46,53%
                            </td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <% include ../partials/footer %>

    </div>
    <!-- Argon Scripts -->
    <!-- Core -->
    <% include ../partials/scripts %>

</body>

</html>