<!DOCTYPE html>
<html>
<% include ../layout %>

<body>
    <!-- Sidenav -->
    <% include ../partials/sidebar %>
    <!-- Main content -->
    <div class="main-content">
        <!-- Top navbar -->
        <% include ../partials/navbar %>
        <!-- Header -->
        <% include ../partials/header %>
        <!-- Page content -->
        <div style="justify-content: center !important" class="row mt-4">
            <div class="col-xl-11 mb-5 mb-xl-0">
                <div class="card shadow">
                    <% include ../partials/message %>

                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Recepcionistas</h3>
                            </div>
                            <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#faq-consult-filter"><img src="img/icons/common/help.svg"></a>
                            <a id="btn-register"  href="/recepcionista/register" class="btn btn-success"><i class="ni ni-lg ni-fat-add text-white"></i>Cadastrar</a>
                            <a class="btn btn-primary" id="btn-search"><img src="img/icons/common/filter.svg">Filtrar</a>
                        </div>
                    </div>

                    <div id="campo-buscar">
                        <div class="col-lg-10">
                                <label class="form-control-label" for="input-email">Nome do(a) recepcionista(a)</label>

                            <form class="form-search-name">
                                <input type="text" name="nameSecretary" class="form-control form-control-alternative"
                                    placeholder="Digite o nome">
                                <a class="btn btn-primary" id="search-name-secretary"><img src="img/icons/common/search.svg">Buscar</a>
                            </form>
                        </div>
                        </form>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover align-items-center table-md">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Nome Completo</th>
                                    <th scope="col">Email</th>
                                    <th class="col-5">Telefone</th>
                                    <th ></th>
                                    <th ></th>
                                </tr>
                            </thead>
                            <tbody id="table-secretary">
                                <% if(secretaries.length > 0 ) {%>
                                <% for (var i = 0; i < secretaries.length; i++) { %>
                                <tr>
                                    <th scope="row">
                                        <%= secretaries[i].name %>
                                    </th>
                                    <td>
                                        <%= secretaries[i].userSecretary.email %>
                                    </td>
                                    <td>
                                        <%= secretaries[i].phone %>
                                    </td>
                                    <td>
                                        <a class="btn btn-primary primary btn-sm"
                                            href="recepcionista/profile/<%= secretaries[i].id %>"><img
                                                src="img/icons/common/eye.svg"></a>
                                    </td>
                                    <td>
                                        <a class="btn btn-danger delete btn-sm"
                                            onclick="return confirm('Você confirma a exclusão?')"
                                            href="recepcionista/delete/<%= secretaries[i].userSecretary.id %>"><i
                                                class="ni ni-lg ni-basket text-white"></i></a>
                                    </td>



                                    <% } %>
                                    <% } %>
                                    <!-- <td>
                              <i class="fas fa-arrow-up text-success mr-3"></i> 46,53%
                            </td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <% include ../partials/footer %>

    </div>
    <!-- Argon Scripts -->
    <!-- Core -->
    <% include ../partials/scripts %>

</body>

</html>