<!DOCTYPE html>
<html>
<% include ../layout %>

<body>
    <!-- Sidenav -->
    <% include ../partials/sidebar %>
    <!-- Main content -->
    <div class="main-content">
        <!-- Top navbar -->
        <% include ../partials/navbar %>
        <!-- Header -->
        <% include ../partials/profile/header %>
        <!-- Page content -->

        <div class="container-fluid mt--7">
            <div class="row">
                <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
                </div>
                <div class="col-xl-10 order-xl-w">
                    <div class="card bg-secondary shadow">
                        <% include ../partials/message %>

                        <div class="card-header bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">Bem Vindo!</h3>
                                </div>

                            </div>
                        </div>
                        <div class="card-body">
                            <% if (user.NivelPermissaoId == 1) {  %>

                            <form action="" method="POST">
                                <h6 class="heading-small text-muted mb-4">Perfil do Usuário</h6>
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-username">Nome
                                                    Completo</label>
                                                <input type="text" id="nomeRecepcionista" name="name"
                                                    class="form-control form-control-alternative"
                                                    placeholder="Nome Completo" value="<%= masterProfile.name %>">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label">Contato</label>
                                                <input type="text" id="telefoneRecepcionista" name="phone"
                                                    class="form-control form-control-alternative" placeholder="Telefone"
                                                    value="<%= masterProfile.phone %>">
                                            </div>

                                        </div>
                                    </div>
                                    <hr class="my-4" />
                                    <h6 class="heading-small text-muted mb-4">Perfil do Usuário</h6>

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-email">Endereço de
                                                    E-mail</label>
                                                <input type="email" id="email" name="email"
                                                    class="form-control form-control-alternative" placeholder="E-mail"
                                                    value="<%= masterProfile.userMaster.email %>">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-email">Usuário:</label>
                                                <input type="text" id="fkPermissoes" name="fkPermissoes"
                                                    class="form-control form-control-alternative" placeholder="E-mail"
                                                    value="Supervisor">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-last-name">Data de
                                                    Registro</label>
                                                <input type="text" id="dataRegistro" name="dataRegistro"
                                                    class="form-control form-control-alternative" placeholder="Registro"
                                                    value="<%= moment(masterProfile.createdAt).format('DD/MM/YYYY')  %>">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr class="my-4" />


                                <input type="hidden" value="<%= masterProfile.id  %>" id="id" name="id">
                                <input type="submit" class="btn btn-info" value="Salvar Registro"></input>
                            </form>
                            <% }else if (user.NivelPermissaoId == 2){ %>

                            <% }else if (user.NivelPermissaoId == 3){ %>
                                <form action="/estagiario/edit" method="POST">
                                    <h6 class="heading-small text-muted mb-4"></h6>
                                    <div class="pl-lg-4">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-username">Nome
                                                        Completo</label>
                                                    <input type="text" id="nome" name="name"
                                                        class="form-control form-control-alternative" disabled  
                                                        placeholder="Nome Completo" value="<%= traineeProfile.name %>">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label">Contato</label>
                                                    <input type="text" id="telefone" name="phone" disabled
                                                        class="form-control form-control-alternative" placeholder="Telefone"
                                                        value="<%= traineeProfile.phone %>">
                                                </div>
    
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-username">Curso</label>
                                                    <input type="text" id="curso" name="course" disabled
                                                        class="form-control form-control-alternative" placeholder="Curso"
                                                        value="<%= traineeProfile.course %>">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label">Periodo</label>
                                                    <input type="text" id="periodo" name="period" disabled
                                                        class="form-control form-control-alternative" placeholder="Periodo"
                                                        value="<%= traineeProfile.period %>">
                                                </div>
    
                                            </div>
                                        </div>
                                        <hr class="my-4" />
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-email">Endereço de
                                                        E-mail</label>
                                                    <input type="email" id="email" name="email" disabled
                                                        class="form-control form-control-alternative" placeholder="E-mail"
                                                        value="<%= traineeProfile.userTrainee.email %>">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label"
                                                        for="input-email">Permissoes</label>
                                                    <input type="text" id="fkPermissoes" name="fkPermissoes" disabled
                                                        class="form-control form-control-alternative"
                                                        placeholder="E-mail" value="Estagiário">
                        
                                                
                                                </div>
                                            </div>
    
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-last-name">Data de
                                                        Registro</label>
                                                    <input type="text" id="dataRegistro" name="dataRegistro" disabled
                                                        class="form-control form-control-alternative" placeholder="Registro"
                                                        value="<%= moment(traineeProfile.createdAt).format('DD/MM/YYYY')%>  ">
                                                </div>
                                            </div>
                                        
                                        </div>
                                    </div>
                                    <hr class="my-4" />
                                    <input type="hidden" value="<%= traineeProfile.userTrainee.id  %>" id="idUser" name="idUser">
                                    <a id="enable-update" class="btn btn-info" value="Editar"><i class="ni ni-ruler-pencil text-white"></i>Editar</a>
                                    <input type="submit" id = "update-form" class="btn btn-success" value="Salvar Alterações"></input>
        
                                </form>
                            <% }else if (user.NivelPermissaoId == 4){ %>
                                <form action="/paciente/edit %>" id="form-update-patient" method="POST">
                                    <form method="get" action=".">
                                    <h6 class="heading-small text-muted mb-4">Informações da Recepcionista</h6>
                                        <div class="pl-lg-4">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="form-control-label" for="input-username">Nome
                                                            Completo</label>
                                                        <input type="text" id="nome" name="name"
                                                            class="form-control form-control-alternative"
                                                            placeholder="Nome Completo" disabled
                                                            value="<%= patientProfile.name %>">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="form-control-label">Contato</label>
                                                        <input type="text" id="telefone"
                                                            name="phone"
                                                            class="form-control form-control-alternative"
                                                            placeholder="Telefone" disabled
                                                            value="<%= patientProfile.phone %>">
                                                    </div>
    
                                                </div>
                                            </div>
                                            <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-username">Data de Nascimento</label>
                                                    <input type="date" id="dataNasc" name="dateBirth" disabled
                                                        class="form-control form-control-alternative"
                                                        placeholder="Curso"  value="<%= moment.utc(patientProfile.dateBirth).format('YYYY-MM-DD') %>">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="form-control-label">Genero</label>
                                                        <select class="form-control" name="gender" id="gender" disabled
                                                            data-placeholder="Selecione">
    \                                                        <% if (patientProfile.gender == 1) {  %>
                                                            <option value="1">Feminino</option>
                                                            <option value="2">Masculino</option>
                                                            <%  }else{ %>
                                                            <option value="2">Masculino</option>
                                                            <option value="1">Feminino</option>
    
                                                            <% } %>
                                                        </select>
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-lg-5">
                                                    <div class="form-group">
                                                        <label class="form-control-label"
                                                            for="input-username">Escolaridade</label>
                                                        <select class="form-control" id="schooling" name="schooling" disabled
                                                            data-placeholder="Selecione"> 
                                                            <% if (patientProfile.schooling == 1) {  %>
                                                                <option value="<%= patientProfile.schooling %>">Ensino Fundamento</option>
                                                                <option value="2">Ensino Médio</option>
                                                                <option value="3">Ensino Superior</option>
                                                            <% }else if (patientProfile.schooling == 2) {  %>
                                                                <option value="<%= patientProfile.schooling %>">Ensino Médio</option>
                                                                <option value="1">Ensino Fundamento</option>
                                                                <option value="3">Ensino Superior</option>
                                                            <%  }else{ %>
                                                                <option value="<%= patientProfile.schooling %>">Ensino Superior</option>
                                                                <option value="1">Ensino Fundamento</option>
                                                                <option value="2">Ensino Médio</option>
                                                            <% } %>
    
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="form-group">
                                                        <div class="form-group">
                                                            <label class="form-control-label">Estado Civil</label>
                                                            <select class="form-control" name="maritalstatus" disabled id="maritalstatus"
                                                                data-placeholder="Selecione"> 
                                                                <% if (patientProfile.maritalstatus == 1) {  %>
                                                                    <option value="<%= patientProfile.maritalstatus %>">Solteiro(a)</option>
                                                                    <option value="2">Casado(a)</option>
                                                                    <option value="3">Divorciado(a)</option>
                                                                    <option value="4">Viúvo(a) </option>
                                                                    <option value="5">Separado(a)</option>
                                                                <% }else if (patientProfile.maritalstatus == 2) {  %>
                                                                    <option value="<%= patientProfile.maritalstatus %>">Casado(a)</option>
                                                                    <option value="1">Solteiro(a)</option>
                                                                    <option value="3">Divorciado(a)</option>
                                                                    <option value="4">Viúvo(a) </option>
                                                                    <option value="5">Separado(a)</option>
                                                                <% }else if (patientProfile.maritalstatus == 3) {  %>
                                                                    <option value="<%= patientProfile.maritalstatus %>">Divorciado(a)</option>
                                                                    <option value="1">Solteiro(a)</option>
                                                                    <option value="2">Casado(a)</option>
                                                                    <option value="4">Viúvo(a) </option>
                                                                    <option value="5">Separado(a)</option>
                                                                <% }else if (patientProfile.maritalstatus == 4) {  %>
                                                                    <option value="<%= patientProfile.maritalstatus %>">Viúvo(a) </option>
    
                                                                    <option value="1">Solteiro(a)</option>
                                                                    <option value="2">Casado(a)</option>
                                                                    <option value="3">Divorciado(a)</option>
                                                                    <option value="5">Separado(a)</option>
                                                                <%  }else{ %>
                                                                    <option value="<%= patientProfile.maritalstatus %>">Separado(a)</option>
                                                                    <option value="1">Solteiro(a)</option>
                                                                    <option value="2">Casado(a)</option>
                                                                    <option value="3">Divorciado(a)</option>
                                                                    <option value="4">Viúvo(a) </option>
                                                                <% } %>
    
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <div class="form-group">
                                                            <label class="form-control-label">Conjugue</label>
                                                            <input type="text" name="spouse" id="spouse"
                                                            class="form-control form-control-alternative" disabled
                                                            placeholder="Conjugue" value="<%= patientProfile.spouse %>">
                                                           
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr class="my-4" />
                                            <h6 class="heading-small text-muted mb-4">Localização</h6>
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    <div class="form-group">
                                                        <label class="form-control-label" for="input-email">CEP</label> 
                                                        <input type="email" id="cep" name="cepCidade"  onblur="pesquisacep(this.value);"
                                                        disabled  class="form-control form-control-alternative" placeholder="CEP" value="<%= patientProfile.cep %>">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    <div class="form-group">
                                                        <label class="form-control-label" for="input-email">Endereço</label>
                                                        <input type="email" id="rua" name="address" disabled
                                                            class="form-control form-control-alternative" placeholder="Endereço"  value="<%= patientProfile.address %>">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label class="form-control-label" for="input-email">Número</label>
                                                        <input type="email" id="number" name="number" disabled
                                                            class="form-control form-control-alternative" placeholder="Número" value="<%= patientProfile.number %>">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="form-control-label" for="input-email">Bairro</label>
                                                        <input type="email" id="bairro" name="district" disabled
                                                            class="form-control form-control-alternative" placeholder="Bairro" value="<%= patientProfile.district %>">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label class="form-control-label" for="input-email">Cidade</label>
                                                        <input type="email" id="cidade" name="country" disabled value="<%= patientProfile.country %>"
                                                            class="form-control form-control-alternative">
                                                    </div>
                                                </div>
                                                <div class="col-lg-2">
                                                    <div class="form-group">
                                                        <label class="form-control-label" for="input-email">Estado</label>
                                                        <input type="email" id="uf" name="uf" disabled
                                                            class="form-control form-control-alternative" placeholder="Estado" value="<%= patientProfile.UF %>">
                                                    </div>
                                                </div>
                                            </div>
                                        <hr class="my-4" />
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="form-control-label" for="input-email">Endereço de
                                                            E-mail</label>
                                                        <input type="email" id="email"
                                                            name="email" disabled
                                                            class="form-control form-control-alternative" 
                                                            placeholder="E-mail"
                                                            value="<%= patientProfile.userPatient.email %>">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="form-control-label"
                                                            for="input-email">Permissoes</label>
                                                        <input type="text" id="fkPermissoes" name="fkPermissoes"
                                                            class="form-control form-control-alternative" disabled
                                                            placeholder="E-mail" value="Paciente">
                                                    </div>
                                                </div>
                                            </div>
    
                                            <div class="row">
    
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="form-control-label" for="input-last-name">Data de
                                                            Registro</label>
                                                        <input type="text" id="dataRegistro" name="dataRegistro"
                                                            class="form-control form-control-alternative" disabled
                                                            placeholder="Registro" value="<%= moment(patientProfile.createdAt).format('DD/MM/YYYY')  %>">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="my-4" />
    
                                        <input type="hidden" value="<%= patientProfile.userPatientId  %>"
                                        id="id" name="idUser"></input>
                                    </form>
            
                                        <input type="hidden" value="<%= patientProfile.id  %>"
                                            id="idPatient" name="id">
                                            <a id="enable-update" class="btn btn-info" value="Editar"><i class="ni ni-ruler-pencil text-white"></i>Editar</a>
                                        <input onclick="updatePatient();"class="btn btn-success" id = "update-form" value="Salvar Alterações"></input>
                                    </form>
                            <% } %>


                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <% include ../partials/footer %>

        </div>
    </div>
    <!-- Argon Scripts -->
    <!-- Core -->
    <% include ../partials/scripts %>

</body>

</html>