<!DOCTYPE html>
<html>
<% include ../layout %>

<script>
    function funcao_pdf() {
        var estagiario = document.getElementById('nameTrainee')
        var supervisor = document.getElementById('nameMaster')
        var data = document.getElementById('dateConsult')
        var paciente = document.getElementById('namePatient')
        var relatório = document.getElementById('report')
        var envio = document.getElementById('dateSend')

        var janela = window.open('', '', 'width=1000px; height=728px');
        janela.document.write('<html><head>')
        janela.document.write('<title>Relatório da Consulta</title></head>')
        janela.document.write('<body style="margin-top:3em; width:794px; heigh:1122px ">')
        janela.document.write('<h1 style="text-align:center">Relátorio da Consulta</title></h1>')

        janela.document.write('<div style="font-size: 1em; margin-top:3em; margin-left:2em; margin-right:2em">'+
            '<div style="display: flex; justify-content: space-between;"><div style="margin-right: 6em">')
        janela.document.write('<b> Estagiário: </b> <p>' + estagiario.value + '</p>')
        janela.document.write('<b> Supervisor: </b> <p>' + supervisor.value + '</p>')
        janela.document.write('<b> Paciente: </b> <p> ' + paciente.value + '</p>') 
        janela.document.write('</div>'+
                                '<div>')
        janela.document.write('<b> Data da Consulta: </b> <p>' + data.value + '</p>')
        janela.document.write('<b> Data de Envio do Relatório: </b> <p> ' + dateSend.value + '</p>') 
        janela.document.write('</div>'+
                                '</div>'+
                                '<div style="padding-top: 2em">')
        janela.document.write('<b style="text-align:center"> RELATÓRIO DA CONSULTA</b>') 
        janela.document.write('<p style="line-height: 150% ;font-family:times new roman, Times, serif; font-size: 1em; text-align:justify; width:100%; resize: none; border:none"> ' + relatório.value + '</p>') 
        janela.document.write('</div>'+
                                '<div style="padding-top:5em; display:flex; position:relative; justify-content: space-around; ">')
        janela.document.write('<div>')
        janela.document.write('<b style="border-top: 1px solid black; width:100px;">Assinatura do Responsável pelo Atendimento</b>')
        janela.document.write('</div>')
        janela.document.write('<div>')
        janela.document.write('<b style="border-top: 1px solid black; width:100px;">Assinatura do Supervisor Responsável</b>')
        janela.document.write('</div></div>')
        janela.document.write('</div>')
        janela.document.write('</body></html>')
        janela.document.close();
        janela.print();

    }

</script>

<body>
    <!-- Sidenav -->
    <% include ../partials/sidebar %>
    <!-- Main content -->
    <div class="main-content">
        <!-- Top navbar -->
        <% include ../partials/navbar %>
        <!-- Header -->
        <% include ../partials/profile/header %>
        <!-- Page content -->

        <div class="container-fluid mt--7">
            <div class="row">
                <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
                </div>
                <div class="col-xl-10 order-xl-w">
                    <div class="card bg-secondary shadow">
                        <div class="card-header bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">Recepcionista</h3>
                                </div>

                            </div>
                        </div>
                        <div class="card-body">

                            <form action="/relatorios/update" id="update-form-report" method="POST">
                                <h6 class="heading-small text-muted mb-4">Relatório</h6>
                                <input type="hidden" name="idReport" value="<%= report.id %>">
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label"
                                                    for="input-username">Estagiario</label>
                                                <input type="text" id="nameTrainee" name="name" disabled
                                                    class="form-control form-control-alternative" required
                                                    value="<%= traineeProfile.name %>">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label">Supervisor</label>
                                                <input type="text" id="nameMaster" name="nameMaster" disabled
                                                    class="form-control form-control-alternative" required
                                                    value="<%= report.reportMaster.name %>">
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="my-4" />

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-username">Nome do
                                                    Paciente</label>
                                                <input type="text" id="namePatient" name="namePatient" disabled
                                                    class="form-control form-control-alternative" required
                                                    value="<%= patientDecrypt %>">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label">Data da Consulta</label>
                                                <input type="text" id="dateConsult" name="dateConsult" disabled
                                                    class="form-control form-control-alternative" required
                                                    value="<%= moment(report.dateConsult).format('DD/MM/YYYY  HH:mm') %>">
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="my-4" />
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-email">Relatório</label>
                                                <textarea id="report" name="report" style="height:500px;"
                                                    class="form-control form-control-alternative" disabled
                                                    required><%= reportDecrypt %></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="form-control-label">Data de Envio</label>
                                        <input type="text" id="dateSend" name="phone"
                                            class="form-control form-control-alternative" required
                                            value="<%= moment(report.dateSend).format('DD/MM/YYYY  HH:mm') %>">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                        <div class="form-group">
                                            <label class="form-control-label">Data de Alteração</label>
                                            <input type="text" id="dateUpdate" name="dateUpdate"
                                                class="form-control form-control-alternative" required
                                                value="<%= moment(report.updateAt).format('DD/MM/YYYY  HH:mm') %>">
                                        </div>
                                    </div>
                            </div>

                                <hr class="my-4" />
                                <input type="button" id="edit-reports" class="btn btn-primary" value="Editar Relatório"></input>
                                <input type="button" id= "update-reports" onclick="updateReport()" class="btn btn-success" value="Salvar Alterações"></input>

                                <input style="float:right" type="button" onclick="funcao_pdf()" class="btn btn-info" value="Gerar PDF do Relatório"></input>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <% include ../partials/footer %>

        </div>
    </div>
    <!-- Argon Scripts -->
    <!-- Core -->
    <% include ../partials/scripts %>

</body>

</html>